<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>plms1</display-name>
  <welcome-file-list>
    <welcome-file>viewer/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>GetOfficerDetails</servlet-name>
    <servlet-class>com.shell.controller.GetOfficerDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOfficerDetails</servlet-name>
    <url-pattern>/god</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetApplicationCM</servlet-name>
    <servlet-class>com.shell.modular.business.GetApplicationCM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetApplicationCM</servlet-name>
    <url-pattern>/getapplicationidcm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewApplicationCM</servlet-name>
    <servlet-class>com.shell.controller.viewApplicationCM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewApplicationCM</servlet-name>
    <url-pattern>/viewapplicationcm</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>viewComments</servlet-name>
    <servlet-class>com.shell.controller.viewComments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewComments</servlet-name>
    <url-pattern>/viewcommentscm</url-pattern>
  </servlet-mapping>
</web-app>